<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.training.dao.mybatis.interfaces.IClientDAO">

    <insert id="create" useGeneratedKeys="true" keyColumn="id_client" keyProperty="idClient">
        INSERT INTO clients (first_name, last_name, email, phone, company, address) VALUES (#{firstName}, #{LastName}, #{email}, #{phone}, #{company}, #{address})
    </insert>

    <update id="update">
        UPDATE clients
        SET first_name=#{client.firstName}, last_name=#{client.lastName}, email=#{client.email}, phone=#{client.phone}, company=#{client.company}, address=#{client.address}
        WHERE id_client=#{client.idClient}
    </update>

    <delete id="delete">
        DELETE FROM clients WHERE id_client=#{idClient}
    </delete>

    <select id="find" resultType="clientResultMap">
        SELECT * FROM clients
        WHERE id_client = #{idClient}
    </select>

    <select id="getAll" resultType="clientResultMap">
        SELECT * FROM clients
    </select>

    <resultMap id="clientResultMap" type="com.solvd.training.model.Client" autoMapping="false">
        <id column="id_client" property="idClient"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="company" property="company"/>
        <result column="address" property="address"/>
    </resultMap>
</mapper>
